.root {
    -fx-background-color: #2b2b2b;
}

.menu-bar {
    -fx-background-color: #333;
    -fx-text-fill: #e0e0e0;
}

.menu {
    -fx-background-color: #333;
    -fx-text-fill: #e0e0e0;
}

.menu-bar .menu-item {
    -fx-background-color: #333;
    -fx-text-fill: #e0e0e0;
}

.menu-bar .menu-item:hover {
    -fx-background-color: #555;
}

.button {
    -fx-background-color: #444;
    -fx-text-fill: #e0e0e0;
    -fx-border-color: #555;
    -fx-border-radius: 4;
    -fx-padding: 1 2;
}

.button:hover {
    -fx-background-color: #555;
}

.label {
    -fx-text-fill: #e0e0e0;
}

.color-picker {
    -fx-background-color: #444;
    -fx-text-fill: #342a2a;
}

.color-picker:hover {
    -fx-background-color: #555;
}

.menu-button {
    -fx-background-color: #444;
    -fx-text-fill: #e0e0e0;
}

.menu-button:hover {
    -fx-background-color: #555;
}

.menu-button .menu-item {
    -fx-background-color: #444;
}

.GraphicsContext {
    -fx-border-color: #000;
    -fx-background-color: #2b2b2b;
}
